.header{
padding: 5px 50px;
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
background-color: white;
position: fixed;
z-index: 999;


}
.header img{
  width: 80px;
}
.nav-Bar{
    display: flex;
    justify-content: space-between;
    font-size: 50px;
    width: 30%;
    margin-left: 50px;
    
}

.enlaces{
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer;
    color: black;
    text-decoration-line: none;

    
    
}
.enlaces-drop{
  display: flex;
  flex-direction: column;
}
.hidde{
  display: none;
}

@media (max-width: 768px) {
  .header{
    flex-direction:column;
    
    
  }  
  .nav-Bar  {
     width: 100%;
     display: flex;
      flex-direction: column;
      align-items: flex-start;
     
  }
  
  .botonNavBar{
    display: inline-block;
    position: relative;
    left: 150px;
    top: 30px;
    background-color: transparent;
    border: none;
  
  }
  .hidde{
    display: none;
  }
 .enlaces {
    padding: 10px 0px;
 }
}