.header{
padding: 20px 50px;
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
background-color: rgb(77, 173, 141);
}
.nav-Bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    
}
.enlaces{
    text-transform: uppercase;
    font-size: 20px;
    cursor: pointer;
}