.header{
padding: 20px 50px;
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
background-color: white;
}
.nav-Bar{
    display: flex;
    justify-content: space-between;
    
    width: 30%;
    margin-left: 50px;
    
}

button{
  display: none;
  
}

.enlaces{
    text-transform: uppercase;
    font-size: 20px;
    cursor: pointer;
    color: black;
    text-decoration-line: none;
    
}

@media (max-width: 768px) {
  .header{
    flex-direction:column;
  }  
  .nav-Bar  {
     width: 100%;
     display: flex;
      flex-direction: column;
      align-items: center;
     
  }
  
  button{
    display: inline-block;
    position: relative;
    left: 150px;
    background-color: transparent;
    border: none;
    
  }
  .hidde{
    display: none;
  }
 .enlaces {
    padding: 15px 0px;
 }
}